.main-nav {
    font-weight: normal;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #606060;
    text-transform: uppercase;
    font-family: $dosis;
    position: relative;
}

.main-nav_toggle {
    content: '';
    background-image: url("../img/burgermenu.svg");
    cursor: pointer;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    width: 88px;
    border: 0;
}

.main-nav_list {
    list-style: none;
}

.main-nav_wrapper {
    background-color: #e5e6e6;
    display: none;
}

.site-list_link {
    color: #6c6c6c;
}

@import "variables.scss";
