@font-face {
    font-weight: bold;
    font-family: "TochkaSans-Bold";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/TochkaSans-Bold.woff2") format("woff2"), url("../fonts/TochkaSans-Bold.woff") format("woff"),;
}
