$tablet-width: 660px;
$desktop-width: 960px;
$opensans: "Open Sans", "Arial", sans-serif;
$opensansligth: "OpenSans-Light", "Arial", sans-serif;
$opensansbold: "OpenSans-Bold", "Arial", sans-serif;
$myriadpro: "MyriadPro-Regular", "Arial", sans-serif;
$dosis: "dosis-regular", "Arial", sans-serif;
